.flavors {
  position: relative;
  background-color: var(--pink);
  padding-top: 5rem;
}

.container-wave {
  background-color: transparent;
}

.container-flavors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13%;
}

.flavor-vanilla,
.flavor-blueberry,
.flavor-chocolate,
.flavor-strawberry,
.flavor-pistachio,
.flavor-mango {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid var(--black);
  border-radius: 25px;
  padding: .5rem 1rem .5rem 1rem;
  margin: 0 .5rem 0 .5rem;
  width: 140px;
}

.flavor-vanilla {
  background-color: var(--ligth-yellow);
  -webkit-transform: translateY(12px) rotate(-9deg);
  transform: translateY(12px) rotate(-9deg);
}

.flavor-blueberry {
  background-color: var(--purple);
  -webkit-transform: translateY(-15px) rotate(-6deg);
  transform: translateY(-15px) rotate(-6deg);
}

.flavor-chocolate {
  background-color: var(--brown);
  -webkit-transform: translateY(-30px) rotate(-2deg);
  transform: translateY(-30px) rotate(-2deg);
}

.flavor-strawberry {
  background-color: var(--medium-pink);
  -webkit-transform: translateY(-30px) rotate(1deg);
  transform: translateY(-30px) rotate(1deg);
}

.flavor-pistachio {
  background-color: var(--green);
  -webkit-transform: translateY(-18px) rotate(5deg);
  transform: translateY(-18px) rotate(5deg);
}

.flavor-mango {
  background-color: var(--orange);
  -webkit-transform: translateY(8px) rotate(9deg);
  transform: translateY(8px) rotate(9deg);
}

.container-flor-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(transparent, var(--light-gray) 80%);
}

.cone-flavors {
  width: 50%;
}

.container-description-flavor {
  position: relative;
  width: 40%;
  padding: 0 5rem 0 2rem;
  text-align: end;
}

.flavors-title {
  font-size: 6rem;
}

.flavor-rainbow-cone{
  position: absolute;
  top: 23%;
  left: 30%;
}

.flavors-text {
  margin-top: 5rem;
}