.nav-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 100px;
  height: 80px;
  width: 80%;
  padding: 0 1.5rem
}