.nav-container {
  display: flex;
  justify-content: center;
  margin: 80px 0 100px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 100px;
  height: 80px;
  width: 80%;
  padding: 0 1.5rem
}

.presentation-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 80px 0 80px
}

.presentation-title {
  font-size: 7rem;
}

.presentation-title-img {
  width: 5rem
}

.presentation-img {
  width: 50%;;
}

.ice-cream-rainbow-img {
  width: 20%;
  position: relative;
  left: 75%;
  top: 40px;
}
