@import url(../css/header.css);
@import url(../css/about.css);
@import url(../css/products.css);
@import url(../css/flavors.css);
@import url(../css/contacts.css);

:root {
  --light-gray: #DAEEFF;
  --white: #ffffff;
  --black: #000000;
  --orange: #F3CB60;
  --gray: #45413C;
  --pink: #FECDDC;
  --ligth-yellow: #F6E6BB;
  --purple: #A470B6;
  --brown: #92604C;
  --medium-pink: #F09BB2;
  --green: #A5CF8A;
  


  --font: 'Grandstander', cursive;
}

body {
  background-image: url(../img/background.jpg);
  font-family: var(--font);
}

/* Patterned buttons */
.btn-small {
  display: inline-block;
  border-radius: 100px;
  width: 8rem;
  padding: .5rem 0;
  margin: .5rem 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.btn-average {
  display: inline-block;
  border-radius: 100px;
  width: 12rem;
  padding: 1rem 0;
  margin: 1rem 0px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

/* Color buttons */
.btn-orange {
  border: 2px solid var(--black);
  background-color: var(--orange);
  margin-right: 20px;
}

.btn-white {
  border: 2px solid var(--orange);
  background-color: var(--white);
}

/* Patterned text */
.text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* Patterned title */
.title {
  font-weight: 700;
  text-shadow: 10px 4px rgba(0, 0, 0, 0.25);
}