@import url(../css/header.css);
@import url(../css/about.css);
@import url(../css/products.css);
@import url(../css/flavors.css);
@import url(../css/contacts.css);

:root {
  --light-gray: #DAEEFF;
  --white: #ffffff;
  --black: #000000;
  --orange: #F3CB60;
  --gray: #45413C;

  --font: 'Grandstander', cursive;
}

body {
  background-image: url(../img/background-learn.svg);
  font-family: var(--font);
}